@model List<FrontEnd.Models.ViewModels.PersonaViewModel>

@{ ViewBag.Title = "ListaPersonasBuscar"; }

@using (Ajax.BeginForm("ListaPersonasParcial", "ActaDeDestruccionDePerecederos", new { nombre = "abcd" }, new AjaxOptions { UpdateTargetId = "listaFiltrada" }))
{
    <label for="recipient-name" class="col-form-label">Nombre Persona:</label>
    <div class="input-group mb-3">
        <input type="text" name="nombre" id="nombre" class="form-control" aria-describedby="basic-addon2" onkeyup="this.value = this.value.toUpperCase();">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit">Buscar</button>
        </div>
    </div>}<div class="form-row">
    <div class="form-group col-md-12" style="text-align:center">
        <a class="btn btn-success" href="~/Persona/Nuevo" target="_blank">Agregar Persona</a>
    </div>
</div>
<div id="listaFiltrada">
</div>












