@model List<FrontEnd.Models.ViewModels.PersonaViewModel>

<table class="table table-sm table-bordered" id="idtablaPersona">
    <thead class="table-light">
        <tr>
            <th scope="col">Cédula</th>
            <th scope="col">Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => item.Identificacion)</th>
                <td>
                    <label><a href="#" onclick="reply_click4(this.id)" id="@item.Identificacion" data-bs-dismiss="modal"> @item.NombrePersona</a></label>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#idtablaPersona').DataTable({
            searching: false,
            lengthMenu: [[6], [6]],
            lengthChange: false,
            language: {
                lengthMenu: "Mostrar _MENU_ entradas",
                info: "Se muestran de _START_ a _END_ de _TOTAL_ entradas totales",
                infoEmpty: "Se muestran de 0 a 0 de 0 entradas totales",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior"
                }
            }

        });
    });
</script>