@model  List<FrontEnd.Models.ViewModels.ArmaViewModel>

@{
    ViewBag.Title = "Armas";
}
<div class="container bg-light text-dark border" style=" height:auto; padding-bottom:10px; margin-bottom:50px">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
    <hr />
    @using (Html.BeginForm("Index", "Arma", FormMethod.Get))
    {
        <div class="form-row">
            <div class="col-sm-3">
                <select class="form-control" name="filtroSeleccionado" id="filtroSeleccionado">
                    <option selected>Policía Asignado</option>
                    <option>Número de Serie</option>
                </select>
            </div>
            <div class="col-sm-4">
                <input class="form-control" name="busqueda" maxlength="150" type="text" id="busqueda" onkeyup="this.value = this.value.toUpperCase();" onkeypress="return  sololetrasnumeros(event)" />
            </div>
            <div class="col-sm-4">
                <button class="btn btn-primary">Buscar</button>
            </div>
            <div class="col-sm-1">
                <a href="~/Arma/Nuevo" class="btn btn-success">Agregar</a>
            </div>
        </div>
    }
    <hr />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered center table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Policía Asignado</th>
                        <th scope="col">Número de Serie</th>
                        <th scope="col">Tipo de Arma</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var oElemento in Model)
                    {
                        <tr>
                            <th scope="row">@oElemento.NombrePolicia</th>
                            <td>@oElemento.NumeroSerie</td>
                            <td>@oElemento.VistaTipoArma</td>
                            <td>
                                <div style="text-align:center;">
                                    <a class="btn btn-sm btn-outline-info" href="~/Arma/Detalle/@oElemento.IdArma">Ver Detalles</a>
                                    </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    
</div>