@model List<FrontEnd.Models.ViewModels.InfractorViewModel>

@{ ViewBag.Title = "ListaInfractoresBuscar"; }

@using (Ajax.BeginForm("ListaInfractoresParcial", "Parte", new { nombre = "abcd" }, new AjaxOptions { UpdateTargetId = "listaFiltrada1" }))
{
    <label for="recipient-name" class="col-form-label">Nombre Infractor:</label>
    <div class="input-group mb-3">
        <input type="text" name="nombre" id="nombre" class="form-control" aria-describedby="basic-addon2" onkeyup="this.value = this.value.toUpperCase();">
        
            <button class="btn btn-outline-primary" type="submit">Buscar</button>
       
    </div>}
<div id="listaFiltrada1">
</div>