@model List<FrontEnd.Models.ViewModels.ListPersonaViewModel>

<table class="table">

    <thead class="thead-light">
        <tr>
            <th scope="col">Cédula</th>
            <th scope="col">Nombre</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => item.IdentificacionPersona)</th>
                <td>
                    <label><a href="#" onclick="reply_click5(this.id,this.name)" id="@item.IdentificacionPersona" name="@item.NombrePersona"> @item.NombrePersona</a></label>
                </td>
            </tr>
        }
    </tbody>
</table>
