@model List<FrontEnd.Models.ViewModels.ListPersonaViewModel>

<table class="table">

    <thead class="thead-light">
        <tr>
            <th scope="col">Cédula</th>
            <th scope="col">Nombre</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => item.IdentificacionPersona)</th>
                <td>
                    <label><a href="#" onclick="reply_click3(this.id)" id="@item.IdentificacionPersona"> @item.NombrePersona</a></label>
                </td>
            </tr>
        }
    </tbody>
</table>
