
@{ ViewBag.Title = "Parte"; }


<div class="container bg-light text-dark border" style="height:80vh;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align:center;">
                <h2 class="display-4">@ViewBag.Title</h2>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("Index", "Parte", FormMethod.Get))
    {
<div class="form-row">
    <div class="col-sm-4">
        <select class="form-control" name="filtroSeleccionado" onclick="ocultar()" id="filtroSeleccionado"></select>
    </div>
    <div class="col-sm-4">
        <input class="form-control" name="busqueda" type="text" id="busqueda" onkeyup="this.value = this.value.toUpperCase();" onkeypress="return sololetrasnumerossimbolos(event)" />
    </div>
    <div class="col-sm-3">
        <button class="btn btn-primary">Buscar</button>
    </div>
    <div class="col-sm-1">
        <a href="~/Parte/Nuevo1" class="btn btn-success">Agregar</a>
    </div>
</div>}

    <hr />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered center table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Infractor</th>
                    </tr>
                </thead>


            </table>
        </div>
    </div>


</div>
