@{ ViewBag.Title = "Actas"; }

<br />

<div class=card-deck>
    <hr />
    <hr />
    <!-- 1 Carta -->
    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">Acta de Hallazgo</h5>
            @*<p class="card-text">Crear, consultar y editar actas de hallazgo.</p>*@
            <br />
            <br />
            <br />
            <a href="~/ActaHallazgo/Index" class="btn btn-primary">Entrar</a>
        </div>
    </div>
    <!-- 2 Carta  -->
    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">Partes Policiales</h5>
            @*<p class="card-text">Crear, consultar y editar partes policiales.</p>*@
            <br />
            <br />
            <br />
            <a href="~/Parte/Index" class="btn btn-primary">Entrar</a>
        </div>
    </div>
    <!-- 3 Carta  -->
    <!-- 4 Carta  -->
    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">Acta de decomiso</h5><br />
            @*<p class="card-text">Crear, consultar y editar ...........</p>*@
            <br />
            <br />
            <a href="~/ActaDecomiso/Index" class="btn btn-primary">Entrar</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">Acta de entrega</h5><br />
            <br />
            <br />
            @*<p class="card-text">Crear, consultar y editar ...........</p>*@
            <a href="#" class="btn btn-primary">Entrar</a>
        </div>
    </div>

</div>

<hr />



<div class=card-deck>
    <hr />
    <!-- 5 Carta  -->
    <!-- 6 Carta  -->
    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">Acta por orden de</h5>
            <br />
            <br />
            <br />
            @*  <p class="card-text">Crear, consultar y editar ...........</p>*@
            <a href="#" class="btn btn-primary">Entrar</a>
        </div>
    </div>
    <!-- 7 Carta -->
    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">Acta de notificación</h5>
            <br />
            <br />
            <br />
            @* <p class="card-text">Crear, consultar y editar ...........</p>*@
            <a href="#" class="btn btn-primary">Entrar</a>
        </div>
    </div>
    <!-- 8 Carta  -->
    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">Acta de destrucción de perecederos</h5>
            <br />
            <br />
   
            @*  <p class="card-text">Crear, consultar y editar ...........</p>*@
            <a href="#" class="btn btn-primary">Entrar</a>
        </div>
    </div>
    <div class="card" style="width: 16rem;">
        <div class="card-body">
            <h5 class="card-title">Acta de notificación de vendedores ambulantes</h5> <br />
          @*  <p class="card-text">Crear, consultar y editar ...........</p>*@
            <a href="#" class="btn btn-primary">Entrar</a>
        </div>
    </div>


</div>

<hr />

    
    <!-- 9 Carta  -->
    <div class="card" style="width:16rem;" >

        <div class="card-body">
            <h5 class="card-title">Acta de observación policial</h5>
            <br />
            <br />
         
            @*  <p class="card-text">Crear, consultar y editar ...........</p>*@
            <a href="#" class="btn btn-primary">Entrar</a>
        </div>
    </div>


    
  
