@model List<FrontEnd.Models.ViewModels.PersonaViewModel>

@{
    ViewBag.Title = "Personas";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
}
<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; margin-bottom: 20px; word-wrap: break-word;">
    <div style="text-align:center;">
        <h1 class="display-5">@ViewBag.Title</h1>
    </div>
    <hr />
    @using (Html.BeginForm("Index", "Persona", FormMethod.Get))
    {

        <div class="row">
            <div class="col-sm-3">
                @Html.DropDownList("filtrosSeleccionado", items, new { @class = "form-select", @id = "filtroSeleccionado", @name = "filtroSeleccionado" })
                <script>
                    document.getElementById("filtroSeleccionado").value = "Nombre";
                </script>
            </div>
            <div class="col-sm-4">
                <input class="form-control" name="busqueda" maxlength="150" type="text" id="busqueda" style = "text-transform:uppercase" onkeydown = "return /[a-zA-Z ÁÉÍÓÚÑáéíóúñ]/i.test(event.key)" />
            </div>
            <div class="col-sm-4">
                <button class="btn btn-primary">Buscar</button>
            </div>
            <div class="col-sm-1">
                <a href="~/Persona/Nuevo" class="btn btn-success">Agregar</a>
            </div>
        </div>
    }

    <hr />
            <table class="table table-bordered table-sm" id="tablaPersonas">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Identificación</th>
                        <th scope="col">Nombre</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var oElemento in Model)
                    {
                        <tr>
                            <th scope="row">@oElemento.Identificacion</th>
                            <td>@oElemento.NombrePersona</td>
                            <td>
                                <div style="text-align:center;">
                                    <a class="btn btn-sm btn-outline-secondary" href="~/Persona/Detalle/@oElemento.IdPersona">Ver Detalles</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
</div>

<script>
    $(document).ready(function () {
        $('#tablaPersonas').DataTable({
            searching: false,
            lengthMenu: [[6], [6]],
            lengthChange: false,
            language: {
                lengthMenu: "Mostrar _MENU_ entradas",
                info: "Se muestran de _START_ a _END_ de _TOTAL_ entradas totales",
                infoEmpty: "Se muestran de 0 a 0 de 0 entradas totales",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior"
                }
            }

        });
    });


</script>

