@model List<FrontEnd.Models.ViewModels.UsuarioViewModel>

@{
    ViewBag.Title = "Usuario";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
}
<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; margin-bottom: 20px; word-wrap: break-word;">
    <div style="text-align:center;">
        <h1 class="display-5">@ViewBag.Title</h1>
    </div>
    <hr />
    @using (Html.BeginForm("Index", "Usuario", FormMethod.Get))
    {

        <div class="row">
            <div class="col-sm-3">
                @Html.DropDownList("filtrosSeleccionado", items, new { @class = "form-select", @id = "filtroSeleccionado", @name = "filtroSeleccionado" })
                <script>
                    document.getElementById("filtroSeleccionado").value = "Nombre";
                </script>
            </div>

            <div class="col-sm-3">
                <input class="form-control" name="busqueda" type="text" id="busqueda" maxlength="151" style="text-transform:uppercase" onkeydown="return /[0-9A-ZÁáéÉíÍóÓúÚ]/i.test(event.key)" />
            </div>

            <div class="col-sm-1">
                <button class="btn btn-primary">Buscar</button>
            </div>

            <div class="col-sm-1">
                <a href="~/Usuario/Nuevo" class="btn btn-success">Agregar</a>
            </div>
        </div>
    }
    <hr />
    <table class="table table-sm table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">Cédula</th>
                <th scope="col">Nombre</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var oElemento in Model)
            {
                <tr>
                    <th scope="row">@oElemento.Cedula</th>
                    <td>@oElemento.Nombre</td>
                    <td>
                        <div style="text-align:center;">
                            <a class="btn btn-sm btn-outline-secondary" href="~/Usuario/Detalle/@oElemento.IdUsuario">Ver Detalles</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
