@{
    ViewBag.Title = "Requisitos";
}
<h2>@ViewBag.Title.</h2>

<div>
    <img src="https://i2.wp.com/todasgamers.com/wp-content/uploads/2021/09/RESPUESTA-PROFE-NO-LO-HICIMOS.png?fit=1130%2C500&ssl=1" alt="Italian Trulli">
</div>