@model List<FrontEnd.Models.ViewModels.ListPoliciaViewModel>

    @{
        ViewBag.Title = "Policias";
    }
    <div class= "container">
        <div class="row mb-3">
            <h2 class="display-4">@ViewBag.Title</h2>
        </div>
       
        @using (Html.BeginForm("Index", "Policia", FormMethod.Get))
        {

    <div class="row my-4">

            <div class="col-sm-11">
                <div style="display: inline-block">
                    <select  class="custom-select" name="searchBy" onclick="ocultar()" id="searchBy"></select>
                </div>
                <div style="display: inline-block">
                    <select class="custom-select" name="tipoRequisito" id="tipoRequisito">
                        <option value="" selected="selected">Selecione un tipo de requisito</option>
                    </select>
                </div>
                <div style="display: inline-block">
                    <input class="form-control" name="search" type="text" id="search"/>
                </div>
                <button class="btn btn-primary">Buscar</button>
            </div>
            <div class="col-sm-1">
                <a href="~/Policia/Nuevo" class="btn btn-success">Nuevo</a>
            </div>

        </div>
        }


        <div class="row">

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Cédula</th>
                        <th scope="col">Nombre</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var oElemento in Model)
                    {
                        <tr>
                            <th scope="row">@oElemento.IdPolicia</th>
                            <td>@oElemento.Cedula</td>
                            <td>@oElemento.Nombre</td>
                            <td>
                                <a class="btn btn-info" href="~/Policia/Detalle/@oElemento.IdPolicia">Ver Detalles</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

