@model List<FrontEnd.Models.ViewModels.PoliciaViewModel>

@{
    ViewBag.Title = "Policías";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;
}
<div class="container bg-light text-dark border" style=" height: auto; min-height: 80vh; margin-bottom: 20px; word-wrap: break-word;">
    <div style="text-align:center;">
        <h1 class="display-5">@ViewBag.Title</h1>
    </div>
    <hr />
    @using (Html.BeginForm("Index", "Policia", FormMethod.Get))
    {

        <div class="row">
            <div class="col-sm-3">
                @Html.DropDownList("filtrosSeleccionado", items, new { @class = "form-select", @id = "filtroSeleccionado", @name = "filtroSeleccionado" })
                <script>
                    document.getElementById("filtroSeleccionado").value = "Nombre";
                </script>
            </div>

            <div class="col-sm-4">
                <input class="form-control" name="busqueda" type="text" id="busqueda" maxlength="151" style = "text-transform:uppercase" onkeydown="return /[0-9A-Z -ÁáéÉíÍóÓúÚ]/i.test(event.key)" />
            </div>

            <div class="col-sm-4">
                <button class="btn btn-primary">Buscar</button>
            </div>

            <div class="col-sm-1">
                <a href="~/Policia/Nuevo" class="btn btn-success">Agregar</a>
            </div>
        </div>
    }
    <hr />

    <table class="table table-sm table-bordered"style="width:100%" id="idtablaPolicias">
        <thead class="table-dark">
            <tr>
                <th scope="col">Cédula</th>
                <th scope="col">Nombre</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var oElemento in Model)
            {
                <tr>
                    <th scope="row">@oElemento.Cedula</th>
                    <td>@oElemento.Nombre</td>
                    <td class="d-flex justify-content-center">
                        <a class="btn btn-sm btn-outline-secondary" href="~/Policia/Detalle/@oElemento.IdPolicia">Ver Detalles</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    if(sessionStorage.getItem("SelectedItem"!=null)){
    var selectedItem = sessionStorage.getItem("SelectedItem");//revisar el filtro
    $('#filtroSeleccionado').val(selectedItem);
    }
    $('#filtroSeleccionado').change(function () {
        var dropVal = $(this).val();
        sessionStorage.setItem("SelectedItem", dropVal);

    });

    $(document).ready(function () {
        $('#idtablaPolicias').DataTable({
            searching: false,
            lengthMenu: [[10], [10]],
            lengthChange: false,
            language: {
                lengthMenu: "Mostrar _MENU_ entradas",
                info: "Se muestran de _START_ a _END_ de _TOTAL_ entradas totales",
                infoEmpty: "Se muestran de 0 a 0 de 0 entradas totales",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior"
                }
            }

        });
    });


</script>