@model FrontEnd.Models.ViewModels.ListInfractorViewModel
@{
    ViewBag.Title = "Infractor";
}


<div class="container">
    <div class="row mb-3">
        <h2 class="display-4">@ViewBag.Title</h2>
    </div>

    @using (Html.BeginForm("Index", "Infractor", FormMethod.Get))
    {

        <div class="row my-4">

            <div class="col-sm-3">
                <select class="form-control" name="filtroSeleccionado" id="filtroSeleccionado">
                    <option selected>Nombre</option>
                    <option>Cédula</option>
                </select>
            </div>
            <div class="col-sm-4">
                <input class="form-control" name="busqueda" maxlength="150" type="text" id="busqueda" onkeyup="this.value = this.value.toUpperCase();" onkeypress="return  sololetrasnumeros(event)" />
            </div>
            <div class="col-sm-4">
                <button class="btn btn-primary">Buscar</button>
            </div>
            <div class="col-sm-1">
                <a href="~/Infractor/Nuevo" class="btn btn-success">Agregar</a>
            </div>

        </div>
    }


    <div class="row">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Cédula</th>
                    <th scope="col">Nombre</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>



            </tbody>
        </table>
    </div>
</div>

